

<html ng-app="MyApp">
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="/js/app.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-messaging.js"></script>

</head>
<body>
	<div class="container wrapper" ng-controller="MyController">
		<div class="table-responsive">
			<table class="table table-hover">
				<tr>
					<th>aaaa</th>
					<th>Email</th>
					<th></th>
					<th></th>
					<th>Points</th>
				</tr>
				<tr ng-repeat="detail in details">
					<td>{{detail.first_name}} {{detail.last_name}}</td>
					<td>{{detail.email}}</td>
					<td><a href="#" ng-click="edit(detail)"> Alterar </a></td>
					<td><a href="#" ng-click="delete(detail)"> Apagar </a></td>
					<td ng-click="points(point)" class="points" ></td>
				</tr>
			</table>
		</div>
		<hr>
		<form novalidate class="form" name="form" >
			<input type="hidden" ng-model="user.id" ng-value="user.id" required />
			<label>first_name: <input type="text" ng-model="user.first_name" ng-value="user.first_name" required /></label><br />
			<label>last_name: <input type="text" ng-model="user.last_name" ng-value="user.last_name" required/></label><br />	
			<label>email: <input type="email" ng-model="user.email" ng-value="user.email" required /></label><br />
			<label>born_date: <input type="date" ng-model="user.born_date"  ng-value="user.born_date" required  /></label><br />
			<label>address: <input type="text" ng-model="user.address" ng-value="user.address" required /></label><br />
			<input type="submit" ng-click="create(user, user.action )" value="{{user.action}}" />
		</form>
	</div>

</body>
<script type="text/javascript">
	var config_firebase = {
	apiKey: "AIzaSyBBZM4CTbgcfcIEZFEkvu46JTGKkvZGP2E",
	authDomain: "newproject1-196609.firebaseapp.com",
	databaseURL: "https://newproject1-196609.firebaseio.com",
	projectId: "newproject1-196609",
	storageBucket: "newproject1-196609.appspot.com",
	messagingSenderId: "175681819536"
};
	firebase.initializeApp(config_firebase);
</script>

</html>